<form (submit)="submit()">
    <modal (onHide)="hideModal($event)">
        <div modal-title>
            <h5>Adicionar Produto</h5>
        </div>
        <div modal-body>
            <card-error *ngIf="showErrors()">
                <list-error [errors]="errors"></list-error>
            </card-error>          
            <product-form [product]="product"></product-form>
        </div>
        <div modal-footer>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            <button type="submit" class="btn btn-primary">Adicionar</button>
        </div>
    </modal>
</form>