<div class="row">
  <h6>Fotos do produto {{product?.name}}</h6>
  <div class="col-md-12">
    <product-photo-upload (onSuccess)="onCreateSuccesso($event)"></product-photo-upload>
  </div>
  <div class="col-md-12">
    <a data-fancybox="gallery" [href]="photo.photo_url" *ngFor="let photo of photos">
        <img [id]="'photo-'+photo.id" [src]="photo.photo_url" width="350"/>
    </a> 
  </div>
</div>
<product-photo-edit (onSuccess)="onEditSuccess($event)"
                    [photoId]="photoIdToEdit">
</product-photo-edit>